.question-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
}
